# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Models and weights
*.pt
*.pth
best.pt

# Calibrate and result
*.npz
trajectory_3d.png

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Virtual environments (extra)
yolo_env/
Окружение/

# Local experiments / datasets
archive/
dron/

# YOLO training outputs
runs/